# LOCAL POSTGRES DOCKER CONTAINER CONFIGURATION
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="wattlearn"
POSTGRES_PORT=5432
POSTGRES_URL="postgres://postgres:postgres@localhost:5432/wattlearn"

# GOOGLE OAUTH CONFIGURATION
GOAUTH_CLIENT_ID="your_google_client_id"
GOAUTH_CLIENT_SECRET="your_google_client_secret"
GOAUTH_REDIRECT_URI="http://localhost:3000/api/auth/google/callback"

# PRISMA DATABASE CONFIGURATION
DATABASE_URL="postgres://postgres:postgres@localhost:5432/wattlearn"

# SESSION CONFIGURATION
SESSION_SECRET="your_session_secret"